.browse-internship-conatiner{
    margin: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.show-internships{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}