.w-100 {
	/* width: 70% !important; */
	/* height: 50% !important; */
	max-width: 900px !important;
	max-height: 400px !important;
	margin: auto;
}
.scrolling-wrapper {
	overflow-x: auto;
	margin: auto;
	align-items: center;
	text-align: center;
}
.scrolling-wrapper::-webkit-scrollbar {
	display: none;
}
.scrolling-wrapper {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.card-block {
	height: 100%;
	background-color: #fff;
	border: none;
	background-position: center;
	background-size: cover;
	transition: all 0.2s ease-in-out !important;
	text-align: center;
}
.card-block img {
	padding-bottom: 2%;
	margin: auto;
}
.card-block:hover {
	transform: translateY(-5px);
	box-shadow: darkgray;
	opacity: 0.9;
}
.col-1 {
	width: 250px !important;
	height: 250px !important;
}
.container-fluid {
	margin: auto;
	align-items: center;
	text-align: center;
}
.mt-5 {
	margin-left: 3%;
}
